.inline-block, #btn-more-part p, #block-share-view .img, #block-share-view p, #area-tag-view.manage .btn-delete, #area-tag-view .tag, #area-tag-view .btn-delete, #block-author-view .name, #block-favor-view .mainer .btn p, #list-up-view a {
    display: inline-block;
    _display: inline
}

.abs, #block-info-top .shadow, #btn-toggle-desc, #block-recom-view .mainer .unit .info-hover {
    position: absolute;
    display: block
}

.l {
    float: left
}

.r {
    float: right
}

.hidden {
    display: none !important
}

.no-float {
    float: none !important
}

.wait {
    cursor: wait !important;
}

    .wait * {
        cursor: wait
    }

.wide-only {
    display: none
}

body {
    font-family: "Microsoft Yahei",'微软雅黑',"Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif
}

#stage {
    background: #f7f7f7;
    color: #333
}

#mainer-inner {
    height: auto;
    width: 100%;
    background-color: #fff
}

#area-top-view {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

    #area-top-view #article-mainer {
        width: 100%;
        height: auto;
        padding: 0;
        word-break: break-all;
        position: relative;
        overflow: visible;
        font-size: 14px;
        background-color: #f7f7f7;
        line-height: 1.8;
    }

        #area-top-view #article-mainer #area-title-view {
            left: 0;
            padding-top: 5px;
            height: auto;
            width: 100%;
            line-height: 30px;
            /*margin-left: 48px;*/
            top: 0;
            background: #f7f7f7;
        }

            #area-top-view #article-mainer #area-title-view a {
                color: #777;
            }

                #area-top-view #article-mainer #area-title-view a:hover {
                    color: #ff596a
                }

            #area-top-view #article-mainer #area-title-view #title_1 {
                margin: 5px 10px 0 10px;
                border-bottom: 1px solid #ddd;
                width: 90%;
            }

                #area-top-view #article-mainer #area-title-view #title_1 .crumbs_1 {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 5px;
                }

                    #area-top-view #article-mainer #area-title-view #title_1 .crumbs_1 span {
                        color: #8e8785
                    }

                    #area-top-view #article-mainer #area-title-view #title_1 .crumbs_1 .img_title {
                        margin-right: 10px;
                        margin-top: 2px;
                        width: 24px;
                        height: 24px;
                        -moz-border-radius: 12px;
                        -webkit-border-radius: 12px;
                        border-radius: 12px
                    }

                    #area-top-view #article-mainer #area-title-view #title_1 .crumbs_1 a {
                        size: 12px;
                        color: #ff596a;
                    }

                        #area-top-view #article-mainer #area-title-view #title_1 .crumbs_1 a:hover {
                            font-weight: bold
                        }

                #area-top-view #article-mainer #area-title-view #title_1 .txt-title-view_1 {
                    display: block;
                    font-size: 24px;
                    color: #4d4d4d;
                    margin-bottom: 7px;
                    font-weight: bold;
                    padding-right: 70px
                }

                #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 {
                    display: block;
                    font-size: 13px;
                    height: 24px;
                    line-height: 24px;
                    color: #aaa3a0;
                    margin-bottom: 16px;
                }

                    #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 span {
                        color: #aaa3a0;
                        font-size: 13px;
                    }

                        #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 span.pointer {
                            cursor: pointer
                        }

                    #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 .share {
                        cursor: pointer;
                        width: 26px;
                        height: 24px;
                        background: url("nimage/icon_share_2x.png") no-repeat;
                        background-size: 24px 24px;
                        margin-left: 12px;
                        border-top: 1px solid #f7f7f7;
                        border-left: 1px solid #f7f7f7;
                        border-right: 1px solid #f7f7f7;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px
                    }

                    #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 .favorite {
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        background: url("nimage/icon_favorite_empty_2x.png") no-repeat;
                        background-size: 24px 24px;
                    }

                        #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 .favorite.active {
                            background: url("nimage/icon_favorite_full_2x.png") no-repeat;
                            background-size: 24px 24px
                        }

                    #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 .txt-favorite {
                        display: none;
                        color: #aaa3a0;
                        cursor: pointer
                    }

                    #area-top-view #article-mainer #area-title-view #title_1 .txt-info-title_1 .pinglun {
                        cursor: pointer
                    }

            #area-top-view #article-mainer #area-title-view #title_2 {
                color: #8e8785;
                padding: 0 0 5px 10px;
                display: none;
                width: 90%;
            }

                #area-top-view #article-mainer #area-title-view #title_2 .img_title {
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    -moz-border-radius: 12px;
                    -webkit-border-radius: 12px;
                    border-radius: 12px;
                    margin-top: 2px
                }

                #area-top-view #article-mainer #area-title-view #title_2 a {
                    size: 12px;
                    color: #ff596a
                }

            #area-top-view #article-mainer #area-title-view #bdshare_2 {
                overflow: hidden;
                display: none;
                position: fixed;
                background: #f7f7f7;
                border: 1px solid #ddd;
                border-top: none;
                z-index: 1;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

                #area-top-view #article-mainer #area-title-view #bdshare_2 a {
                    clear: both;
                    margin: 8px 5px 0 5px;
                    display: block;
                    width: 100px;
                    height: 25px;
                    padding: 0;
                    background: url("nimage/share-icon.png") no-repeat;
                    padding-left: 40px;
                    line-height: 25px;
                }

                    #area-top-view #article-mainer #area-title-view #bdshare_2 a:hover {
                        color: #ff596a
                    }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .share_border-top {
                    border-top: 1px solid #ddd;
                    width: 86px;
                    margin-left: 0;
                    margin-top: 0;
                    margin-bottom: 10px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_tsina {
                    background-position: 0 -6px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_tqq {
                    background-position: 0 -35px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_qzone {
                    background-position: 0 -70px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_tieba {
                    background-position: 0 -105px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_weixin {
                    background-position: 0 -138px;
                    line-height: 18px;
                    margin-bottom: 6px
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .bds_more {
                    display: none
                }

                #area-top-view #article-mainer #area-title-view #bdshare_2 .shareCount {
                    margin-top: 10px;
                    width: 42px
                }

        #area-top-view #article-mainer #area-info-view {
            width: 90%;
            margin-left: 58px;
            margin-top: 20px;
        }

            #area-top-view #article-mainer #area-info-view .block {
                box-shadow: none
            }

        #area-top-view #article-mainer #area-player {
            width: 90%;
            height: auto;
            min-height: 130px;
            margin-top: 12px;
            margin-left: 58px;
            padding: 0;
            word-break: break-all;
            position: relative;
            overflow: hidden;
            font-size: 16px;
            color: #333;
            line-height: 1.8;
        }

            #area-top-view #article-mainer #area-player img {
                max-width: 90% !important
            }

            #area-top-view #article-mainer #area-player .img-emot-ac {
                max-width: 80px;
                max-height: 80px
            }

            #area-top-view #article-mainer #area-player h1 {
                font-size: 225%
            }

            #area-top-view #article-mainer #area-player h2 {
                font-size: 200%
            }

            #area-top-view #article-mainer #area-player h3 {
                font-size: 175%
            }

            #area-top-view #article-mainer #area-player h4 {
                font-size: 150%
            }

            #area-top-view #article-mainer #area-player h5 {
                font-size: 125%
            }

            #area-top-view #article-mainer #area-player h6 {
                font-size: 100%
            }

            #area-top-view #article-mainer #area-player #area-info-view {
                margin-left: 0
            }

#area-scroll-btn {
    position: fixed;
    right: -100px;
    width: 48px;
    height: 110px
}

#area-part-view {
    width: 80%;
    height: auto;
    margin: 8px auto;
    padding-left: 20px;
}

    #area-part-view .l {
        width: auto;
        max-width: 849px
    }

    #area-part-view .r {
        float: left;
        margin-left: 12px
    }

    #area-part-view .first {
        margin-left: 0
    }

    #area-part-view.active .l {
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        #area-part-view.active .l .btn {
            display: block;
            width: 850px;
            float: none;
            margin: 2px 0 4px;
            text-align: left
        }

        #area-part-view.active .l .hidden {
            display: block !important
        }

        #area-part-view.active .l .clearfix {
            display: none
        }

#btn-more-part span {
    font-size: 12px;
    margin-left: 2px
}

#block-share-view {
    width: 600px;
    height: 40px;
    line-height: 40px;
    color: #9fabb3;
    background-color: #fff;
    padding: 0 8px;
    position: relative;
    z-index: 1;
    float: left;
    margin-bottom: 12px;
}

    #block-share-view .img {
        width: 16px;
        height: 16px;
        background: url(image/sprite-view.png?salt=ac201714) -146px top no-repeat;
        margin: 0 4px 0 0;
        float: left
    }

    #block-share-view p {
        float: left;
        font-size: 14px;
        margin: 0 4px;
        color: #979797
    }

    #block-share-view .pts {
        font-size: 12px;
        float: left;
        color: #27a9d8;
        margin: 0 4px;
        cursor: pointer
    }

    #block-share-view .l {
        padding-left: 4px;
        width: 360px;
    }

        #block-share-view .l .img {
            margin-top: 10px;
            background-position: -115px -89px
        }

    #block-share-view .r .a {
        float: left;
        padding: 0 8px 0 12px;
        height: 16px;
        line-height: 16px;
        margin: 10px 0 0;
        cursor: pointer;
    }

        #block-share-view .r .a:hover p {
            color: #697984
        }

        #block-share-view .r .a:hover .pts {
            color: #1b7697
        }

#block-info-top {
    width: 90%;
    background: transparent;
    border-color: transparent;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}

    #block-info-top .mainer {
        padding: 8px 0;
        width: 90%;
        float: left
    }

    #block-info-top .desc {
        -webkit-transition: .2s 0s all ease;
        -moz-transition: .2s 0s all ease;
        -ms-transition: .2s 0s all ease;
        -o-transition: .2s 0s all ease;
        transition: .2s 0s all ease;
        color: #8c9aa4;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        position: relative;
        padding: 0 4px;
        margin: 8px auto 0;
        height: 30px;
    }

        #block-info-top .desc a {
            color: #27a9d8;
        }

            #block-info-top .desc a:hover {
                color: #1b7697;
                text-decoration: underline
            }

    #block-info-top .shadow {
        *left: -9999px;
        z-index: -1;
        opacity: 0;
        height: auto
    }

#block-info-bottom {
    height: 46px;
    background-color: transparent;
    border-color: transparent;
}

    #block-info-bottom .block-info-bottom-l {
        height: 46px;
        line-height: 30px;
        width: 50%;
        border-right: 1px solid #ddd;
        padding-top: 7px;
    }

        #block-info-bottom .block-info-bottom-l div span {
            height: 32px;
            line-height: 32px
        }

        #block-info-bottom .block-info-bottom-l .favorites {
            height: 32px;
            color: #42372f;
        }

            #block-info-bottom .block-info-bottom-l .favorites:hover {
                color: #ff596a
            }

            #block-info-bottom .block-info-bottom-l .favorites .txt-favorite2 {
                font-size: 13px;
                margin-right: 36px;
                cursor: pointer;
            }

                #block-info-bottom .block-info-bottom-l .favorites .txt-favorite2.active {
                    color: #aea7a5
                }

            #block-info-bottom .block-info-bottom-l .favorites .favorite2 {
                cursor: pointer;
                width: 32px;
                height: 32px;
                margin-right: 4px;
                background: url("nimage/icon_favorite_empty_large_2x.png") no-repeat;
                background-size: 32px 32px;
            }

                #block-info-bottom .block-info-bottom-l .favorites .favorite2.active {
                    background: url("nimage/icon_favorite_full_large_2x.png") no-repeat;
                    background-size: 32px 32px
                }

        #block-info-bottom .block-info-bottom-l .bananas {
            height: 32px;
            color: #42372f;
        }

            #block-info-bottom .block-info-bottom-l .bananas:hover {
                color: #ff596a
            }

            #block-info-bottom .block-info-bottom-l .bananas .txt-pushbanana2 {
                cursor: pointer;
                margin-right: 38px;
                font-size: 13px
            }

            #block-info-bottom .block-info-bottom-l .bananas .pushbanana2 {
                width: 32px;
                height: 32px;
                margin-right: 4px;
                background: url("nimage/icon_banana_large.png") no-repeat;
                cursor: pointer;
            }

                #block-info-bottom .block-info-bottom-l .bananas .pushbanana2 .push1 {
                    background: url("nimage/icon_banana_plus1.png") no-repeat;
                    display: none;
                    width: 32px;
                    height: 32px;
                }

                    #block-info-bottom .block-info-bottom-l .bananas .pushbanana2 .push1.moving {
                        display: block;
                        animation: push1banana 1s linear 1;
                        -webkit-animation: push1banana 1s linear 1;
                    }

@-webkit-keyframes push1banana {
    0% {
        margin-top: -10px;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }

    50% {
        margin-top: -5px;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -ms-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    100% {
        margin-top: 0;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }
}

@-moz-keyframes push1banana {
    0% {
        margin-top: -10px;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }

    50% {
        margin-top: -5px;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -ms-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    100% {
        margin-top: 0;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }
}

@-webkit-keyframes push1banana {
    0% {
        margin-top: -10px;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }

    50% {
        margin-top: -5px;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -ms-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    100% {
        margin-top: 0;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }
}

@-o-keyframes push1banana {
    0% {
        margin-top: -10px;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }

    50% {
        margin-top: -5px;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -ms-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    100% {
        margin-top: 0;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }
}

@keyframes push1banana {
    0% {
        margin-top: -10px;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }

    50% {
        margin-top: -5px;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -ms-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    100% {
        margin-top: 0;
        -webkit-filter: alpha(opacity=10);
        -moz-filter: alpha(opacity=10);
        -ms-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        filter: alpha(opacity=10);
        -moz-opacity: .1;
        opacity: .1
    }
}

#block-info-bottom .block-info-bottom-l .share2 {
    color: #797371;
    font-size: 12px;
    margin-right: 6px
}

#block-info-bottom .block-info-bottom-r {
    height: 46px;
    width: 50%;
    padding-top: 7px;
}

    #block-info-bottom .block-info-bottom-r .thumb-u {
        margin-left: 18px;
        margin-right: 8px;
    }

        #block-info-bottom .block-info-bottom-r .thumb-u .img-circle {
            width: 38px;
            height: 38px;
            border-radius: 30px
        }

    #block-info-bottom .block-info-bottom-r .u-info {
        height: 46px;
        line-height: 18px;
    }

        #block-info-bottom .block-info-bottom-r .u-info span {
            font-size: 12px;
            color: #797371;
        }

            #block-info-bottom .block-info-bottom-r .u-info span .name {
                font-size: 14px;
                color: #322;
            }

                #block-info-bottom .block-info-bottom-r .u-info span .name:hover {
                    color: #ff596a
                }

    #block-info-bottom .block-info-bottom-r .a1 {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin-top: 4px;
        margin-right: 13px;
        color: #ff596a;
    }

        #block-info-bottom .block-info-bottom-r .a1:hover {
            font-weight: bold
        }

    #block-info-bottom .block-info-bottom-r .a2 {
        font-size: 12px;
        height: 30px;
        line-height: 26px;
        margin-top: 4px;
        color: #666;
        border: 1px solid #ebe9e8;
        background-color: #fff;
        width: 64px;
        text-align: center;
        border-radius: 3px;
    }

        #block-info-bottom .block-info-bottom-r .a2:hover {
            color: #ff596a
        }

        #block-info-bottom .block-info-bottom-r .a2:active {
            background-color: #f0f0f0
        }

#btn-toggle-desc {
    -webkit-transition: .2s 0s all ease;
    -moz-transition: .2s 0s all ease;
    -ms-transition: .2s 0s all ease;
    -o-transition: .2s 0s all ease;
    transition: .2s 0s all ease;
    color: #95be3e;
    cursor: pointer;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding-left: 8px;
    font-size: 12px;
}

    #btn-toggle-desc:hover {
        color: #ff0163
    }

#area-tag-view {
    width: 100%;
}

    #area-tag-view .hint {
        vertical-align: top;
        float: left;
        color: #8e8785;
        font-size: 14px;
        height: 19px;
        line-height: 19px;
        margin-bottom: 12px
    }

    #area-tag-view .tag {
        margin-right: 12px;
        margin-bottom: 8px;
        cursor: pointer;
        float: left;
        font-size: 12px;
        background-color: #fff;
        height: 30px;
        line-height: 26px;
        padding: 0 8px;
        border-radius: 15px;
        border: 1px solid #ebe9e8;
    }

        #area-tag-view .tag a {
            color: #797371;
            height: 16px;
            line-height: 26px
        }

        #area-tag-view .tag .pts {
            font-size: 12px;
            color: #aaa3a0;
            cursor: pointer;
            margin-left: 20px
        }

    #area-tag-view .btn-delete {
        margin: 0 0 0 2px;
        color: #ff0163;
        display: none;
    }

        #area-tag-view .btn-delete:hover {
            color: #e60059
        }

#btn-add-tag {
    font-size: 12px;
    cursor: pointer;
    color: #797371;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 8px 0 0;
    float: left;
}

    #btn-add-tag:hover {
        color: #70d152
    }

    #btn-add-tag.disabled {
        color: #777;
    }

        #btn-add-tag.disabled:hover {
            color: #777
        }

#block-author-view {
    width: 275px;
    height: 128px;
    float: right;
}

    #block-author-view .mainer {
        padding: 8px
    }

    #block-author-view .a {
        border-bottom: 1px dashed #ddd;
        padding: 3px 0 2px 3px;
        height: 82px;
    }

        #block-author-view .a .r {
            width: 190px
        }

    #block-author-view .b {
        height: 32px;
        line-height: 32px;
        margin-top: 2px;
    }

        #block-author-view .b .l {
            color: #9fabb3;
        }

            #block-author-view .b .l a {
                color: #8c9aa4;
            }

                #block-author-view .b .l a:hover {
                    color: #798a95;
                }

                    #block-author-view .b .l a:hover .pts {
                        color: #798a95
                    }

                #block-author-view .b .l a .pts {
                    cursor: pointer;
                    margin-left: 4px
                }

    #block-author-view .avatar {
        width: 55px;
        height: 55px
    }

    #block-author-view .name {
        height: 16px;
        line-height: 16px;
        overflow: hidden;
        font-size: 14px
    }

    #block-author-view .desc {
        font-size: 12px;
        color: #8c9aa4;
        line-height: 16px;
        height: 32px;
        overflow: hidden
    }

#area-bottom-view {
    margin-top: 8px;
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
}

    #area-bottom-view .block {
        box-shadow: none;
        border: none
    }

#area-left-bottom {
    width: 680px;
    float: left
}

#area-right-bottom {
    width: 275px;
    float: right;
}

    #area-right-bottom .block .mainer {
        padding: 8px
    }

#block-favor-view .mainer .btn {
    width: 120px;
    height: 32px;
    line-height: 32px;
}

    #block-favor-view .mainer .btn span {
        margin-left: 4px;
        font-size: 12px
    }

#list-up-view .hint {
    margin: 8px -8px 4px;
    padding: 8px;
    color: #999;
    background-color: #f9f9f9
}

#list-up-view a {
    margin: 0 8px 4px 0
}

#footer {
    margin-top: 0
}
